In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls dataset/smart-meters-in-london

Acorn Descriptions v2.csv   halfhourly_dataset.zip
acorn_details.csv           hhblock_dataset
daily_dataset               hhblock_dataset.zip
daily_dataset.csv           informations_households.csv
daily_dataset.csv.gz        uk_bank_holidays.csv
daily_dataset.zip           weather_daily_darksky.csv
halfhourly_dataset          weather_hourly_darksky.csv

In [3]:
!ls dataset/smart-meters-in-london/halfhourly_dataset/halfhourly_dataset/

block_0.csv   block_19.csv  block_4.csv   block_60.csv  block_81.csv
block_1.csv   block_2.csv   block_40.csv  block_61.csv  block_82.csv
block_10.csv  block_20.csv  block_41.csv  block_62.csv  block_83.csv
block_100.csv block_21.csv  block_42.csv  block_63.csv  block_84.csv
block_101.csv block_22.csv  block_43.csv  block_64.csv  block_85.csv
block_102.csv block_23.csv  block_44.csv  block_65.csv  block_86.csv
block_103.csv block_24.csv  block_45.csv  block_66.csv  block_87.csv
block_104.csv block_25.csv  block_46.csv  block_67.csv  block_88.csv
block_105.csv block_26.csv  block_47.csv  block_68.csv  block_89.csv
block_106.csv block_27.csv  block_48.csv  block_69.csv  block_9.csv
block_107.csv block_28.csv  block_49.csv  block_7.csv   block_90.csv
block_108.csv block_29.csv  block_5.csv   block_70.csv  block_91.csv
block_109.csv block_3.csv   block_50.csv  block_71.csv  block_92.csv
block_11.csv  block_30.csv  block_51.csv  block_72.csv  block_93.csv
block_110.csv block_31.csv  block_52.csv  block_73.csv  block_94.csv
block_111.csv block_32.csv  block_53.csv  block_74.csv  block_95.csv
block_12.csv  block_33.csv  block_54.csv  block_75.csv  block_96.csv
block_13.csv  block_34.csv  block_55.csv  block_76.csv  block_97.csv
block_14.csv  block_35.csv  block_56.csv  block_77.csv  block_98.csv
block_15.csv  block_36.csv  block_57.csv  block_78.csv  block_99.csv
block_16.csv  block_37.csv  block_58.csv  block_79.csv
block_17.csv  block_38.csv  block_59.csv  block_8.csv
block_18.csv  block_39.csv  block_6.csv   block_80.csv

In [4]:
!ls dataset/smart-meters-in-london/informations_households.csv

dataset/smart-meters-in-london/informations_households.csv

In [5]:
house_info = pd.read_csv('dataset/smart-meters-in-london/informations_households.csv')

In [6]:
house_info

          LCLid stdorToU    Acorn Acorn_grouped       file
0     MAC005492      ToU   ACORN-        ACORN-    block_0
1     MAC001074      ToU   ACORN-        ACORN-    block_0
2     MAC000002      Std  ACORN-A      Affluent    block_0
3     MAC003613      Std  ACORN-A      Affluent    block_0
4     MAC003597      Std  ACORN-A      Affluent    block_0
...         ...      ...      ...           ...        ...
5561  MAC002056      Std  ACORN-U       ACORN-U  block_111
5562  MAC004587      Std  ACORN-U       ACORN-U  block_111
5563  MAC004828      Std  ACORN-U       ACORN-U  block_111
5564  MAC001704      ToU  ACORN-U       ACORN-U  block_111
5565  MAC002774      ToU  ACORN-U       ACORN-U  block_111

[5566 rows x 5 columns]

In [7]:
house_info.Acorn.value_counts()

ACORN-E    1567
ACORN-Q     831
ACORN-F     684
ACORN-H     455
ACORN-L     342
ACORN-D     292
ACORN-G     205
ACORN-K     165
ACORN-A     157
ACORN-N     152
ACORN-C     151
ACORN-M     113
ACORN-J     112
ACORN-P     110
ACORN-O     103
ACORN-I      51
ACORN-U      49
ACORN-B      25
ACORN-        2
Name: Acorn, dtype: int64

In [8]:
house_info.Acorn_grouped.value_counts()

Affluent       2192
Adversity      1816
Comfortable    1507
ACORN-U          49
ACORN-            2
Name: Acorn_grouped, dtype: int64

In [9]:
!ls dataset/smart-meters-in-london/halfhourly_dataset/halfhourly_dataset

block_0.csv   block_19.csv  block_4.csv   block_60.csv  block_81.csv
block_1.csv   block_2.csv   block_40.csv  block_61.csv  block_82.csv
block_10.csv  block_20.csv  block_41.csv  block_62.csv  block_83.csv
block_100.csv block_21.csv  block_42.csv  block_63.csv  block_84.csv
block_101.csv block_22.csv  block_43.csv  block_64.csv  block_85.csv
block_102.csv block_23.csv  block_44.csv  block_65.csv  block_86.csv
block_103.csv block_24.csv  block_45.csv  block_66.csv  block_87.csv
block_104.csv block_25.csv  block_46.csv  block_67.csv  block_88.csv
block_105.csv block_26.csv  block_47.csv  block_68.csv  block_89.csv
block_106.csv block_27.csv  block_48.csv  block_69.csv  block_9.csv
block_107.csv block_28.csv  block_49.csv  block_7.csv   block_90.csv
block_108.csv block_29.csv  block_5.csv   block_70.csv  block_91.csv
block_109.csv block_3.csv   block_50.csv  block_71.csv  block_92.csv
block_11.csv  block_30.csv  block_51.csv  block_72.csv  block_93.csv
block_110.csv block_31.csv  block_52.csv  block_73.csv  block_94.csv
block_111.csv block_32.csv  block_53.csv  block_74.csv  block_95.csv
block_12.csv  block_33.csv  block_54.csv  block_75.csv  block_96.csv
block_13.csv  block_34.csv  block_55.csv  block_76.csv  block_97.csv
block_14.csv  block_35.csv  block_56.csv  block_77.csv  block_98.csv
block_15.csv  block_36.csv  block_57.csv  block_78.csv  block_99.csv
block_16.csv  block_37.csv  block_58.csv  block_79.csv
block_17.csv  block_38.csv  block_59.csv  block_8.csv
block_18.csv  block_39.csv  block_6.csv   block_80.csv

In [10]:
hhd_b0 = pd.read_csv('dataset/smart-meters-in-london/halfhourly_dataset/halfhourly_dataset/block_0.csv')

In [11]:
hhd_b0

             LCLid                         tstp energy(kWh/hh)
0        MAC000002  2012-10-12 00:30:00.0000000             0
1        MAC000002  2012-10-12 01:00:00.0000000             0
2        MAC000002  2012-10-12 01:30:00.0000000             0
3        MAC000002  2012-10-12 02:00:00.0000000             0
4        MAC000002  2012-10-12 02:30:00.0000000             0
...            ...                          ...            ...
1222665  MAC005492  2014-02-27 22:00:00.0000000         0.182
1222666  MAC005492  2014-02-27 22:30:00.0000000         0.122
1222667  MAC005492  2014-02-27 23:00:00.0000000          0.14
1222668  MAC005492  2014-02-27 23:30:00.0000000         0.192
1222669  MAC005492  2014-02-28 00:00:00.0000000         0.088

[1222670 rows x 3 columns]

In [12]:
daily_b0 = pd.read_csv('dataset/smart-meters-in-london/daily_dataset/daily_dataset/block_111.csv')

In [13]:
daily_b0

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min
0,MAC000023,2011-12-07,0.4070,0.431778,0.863,27,0.183665,11.658,0.098
1,MAC000023,2011-12-08,0.3525,0.448375,2.465,48,0.469860,21.522,0.045
2,MAC000023,2011-12-09,0.2905,0.303417,0.977,48,0.206362,14.564,0.044
3,MAC000023,2011-12-10,0.1865,0.229833,0.868,48,0.173760,11.032,0.038
4,MAC000023,2011-12-11,0.2760,0.391438,1.903,48,0.389025,18.789,0.038
...,...,...,...,...,...,...,...,...,...
9903,MAC004828,2014-02-24,0.0225,0.053896,0.722,48,0.125341,2.587,0.000
9904,MAC004828,2014-02-25,0.0050,0.015000,0.051,48,0.017029,0.720,0.000
9905,MAC004828,2014-02-26,0.0110,0.021896,0.152,48,0.030538,1.051,0.000
9906,MAC004828,2014-02-27,0.0045,0.015333,0.092,48,0.020424,0.736,0.000
9907,MAC004828,2014-02-28,0.0000,0.000000,0.000,1,NaN,0.000,0.000

In [14]:
acorn_detail = pd.read_csv('dataset/smart-meters-in-london/acorn_details.csv', encoding='CP1252')

In [15]:
acorn_detail

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,ACORN-H,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,97.0,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,106.0,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,89.0,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,88.0,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,103.0,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,LEISURE TIME,Holiday Destination/Type,Asia,171.0,137.0,94.0,220.0,196.0,69.0,122.0,95.0,72.0,97.0,124.0,73.0,57.0,49.0,96.0,113.0,63.0
822,LEISURE TIME,Holiday Destination/Type,Activity / Outdoor Sports,298.0,278.0,138.0,119.0,93.0,96.0,113.0,96.0,84.0,96.0,56.0,48.0,48.0,46.0,23.0,23.0,23.0
823,LEISURE TIME,Holiday Destination/Type,Cruise,272.0,295.0,272.0,44.0,44.0,70.0,70.0,70.0,70.0,70.0,28.0,28.0,28.0,28.0,49.0,49.0,49.0
824,LEISURE TIME,Holiday Destination/Type,Package,196.0,186.0,166.0,49.0,49.0,101.0,101.0,121.0,106.0,101.0,48.0,75.0,75.0,75.0,54.0,54.0,54.0
825,LEISURE TIME,Holiday Destination/Type,Self-catering,308.0,181.0,181.0,55.0,55.0,127.0,147.0,124.0,113.0,166.0,44.0,44.0,44.0,33.0,32.0,35.0,35.0

In [16]:
acorn_detail.REFERENCE.value_counts()

Premium                                                          8
Value                                                            8
Mass Market                                                      8
By phone                                                         5
By post                                                          5
                                                                ..
Savings value Â£2,500 - Â£10,000                                   1
Healthy Option Ranges                                            1
Lower managerial, administrative and professional occupations    1
Gumtree.com                                                      1
Environment / Wildlife                                           1
Name: REFERENCE, Length: 632, dtype: int64

In [17]:
weather_daily = pd.read_csv('dataset/smart-meters-in-london/weather_daily_darksky.csv')

In [18]:
weather_daily

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,9.03,2014-01-26 16:00:00,233,partly-cloudy-day,2.39,2014-01-26 21:00:00,0.40,4.55,1002.10,2014-01-26 22:00:00,...,9.03,2014-01-26 07:48:49,2014-01-26 16:00:00,2014-01-26 11:00:00,Mostly cloudy until evening.,2014-01-27 05:00:00,-1.30,2014-01-26 15:00:00,2014-01-27 04:00:00,0.84
878,10.31,2014-02-27 14:00:00,224,partly-cloudy-day,3.08,2014-02-27 23:00:00,0.32,4.14,1007.02,2014-02-27 22:00:00,...,10.31,2014-02-27 06:51:45,2014-02-27 14:00:00,2014-02-27 12:00:00,Partly cloudy until evening.,2014-02-28 02:00:00,1.41,2014-02-27 14:00:00,2014-02-28 02:00:00,0.93
879,18.97,2014-03-09 14:00:00,172,partly-cloudy-night,4.30,2014-03-09 07:00:00,0.04,2.78,1022.44,2014-03-09 07:00:00,...,18.97,2014-03-09 06:29:49,2014-03-09 14:00:00,2014-03-09 12:00:00,Partly cloudy in the evening.,2014-03-10 05:00:00,7.08,2014-03-09 14:00:00,2014-03-10 06:00:00,0.28
880,8.83,2014-02-12 16:00:00,210,wind,1.94,2014-02-12 01:00:00,0.59,7.24,994.27,2014-02-12 01:00:00,...,8.83,2014-02-12 07:21:44,2014-02-12 16:00:00,2014-02-12 10:00:00,Mostly cloudy until evening and breezy through...,2014-02-13 05:00:00,-1.20,2014-02-12 16:00:00,2014-02-13 02:00:00,0.42
881,9.90,2014-02-15 12:00:00,233,wind,2.95,2014-02-15 23:00:00,0.35,9.96,988.63,2014-02-15 23:00:00,...,9.90,2014-02-15 07:16:06,2014-02-15 12:00:00,2014-02-15 10:00:00,Windy and mostly cloudy until afternoon.,2014-02-16 07:00:00,1.77,2014-02-15 12:00:00,2014-02-16 07:00:00,0.52

In [19]:
weather_hourly = pd.read_csv('dataset/smart-meters-in-london/weather_hourly_darksky.csv')

In [20]:
weather_hourly

,visibility,windBearing,temperature,time,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
0,5.97,104,10.24,2011-11-11 00:00:00,8.86,1016.76,10.24,2.77,rain,partly-cloudy-night,0.91,Partly Cloudy
1,4.88,99,9.76,2011-11-11 01:00:00,8.83,1016.63,8.24,2.95,rain,partly-cloudy-night,0.94,Partly Cloudy
2,3.70,98,9.46,2011-11-11 02:00:00,8.79,1016.36,7.76,3.17,rain,partly-cloudy-night,0.96,Partly Cloudy
3,3.12,99,9.23,2011-11-11 03:00:00,8.63,1016.28,7.44,3.25,rain,fog,0.96,Foggy
4,1.85,111,9.26,2011-11-11 04:00:00,9.21,1015.98,7.24,3.70,rain,fog,1.00,Foggy
...,...,...,...,...,...,...,...,...,...,...,...,...
21160,12.68,247,7.39,2014-02-15 19:00:00,3.06,997.07,3.91,6.08,rain,partly-cloudy-night,0.74,Partly Cloudy
21161,13.78,249,6.56,2014-02-15 20:00:00,2.76,998.15,3.03,5.61,rain,clear-night,0.77,Clear
21162,14.31,248,6.47,2014-02-15 21:00:00,2.71,999.28,3.06,5.25,rain,clear-night,0.77,Clear
21163,14.31,248,5.96,2014-02-15 22:00:00,2.69,1000.33,2.68,4.69,rain,clear-night,0.80,Clear
21164,14.31,246,5.38,2014-02-15 23:00:00,2.60,1001.25,1.77,5.09,rain,clear-night,0.82,Clear

In [21]:
#Import block & house info data, rename columns
files = ['block_0.csv']
block_0 = pd.concat([pd.read_csv("dataset/smart-meters-in-london/halfhourly_dataset/halfhourly_dataset/" + f, dtype=str) for f in files])
house_info = pd.read_csv('dataset/smart-meters-in-london/informations_households.csv')
block_0.columns = ['LCLid','DateTime','KWh']
block_0
# house_info

             LCLid                     DateTime      KWh
0        MAC000002  2012-10-12 00:30:00.0000000       0
1        MAC000002  2012-10-12 01:00:00.0000000       0
2        MAC000002  2012-10-12 01:30:00.0000000       0
3        MAC000002  2012-10-12 02:00:00.0000000       0
4        MAC000002  2012-10-12 02:30:00.0000000       0
...            ...                          ...      ...
1222665  MAC005492  2014-02-27 22:00:00.0000000   0.182
1222666  MAC005492  2014-02-27 22:30:00.0000000   0.122
1222667  MAC005492  2014-02-27 23:00:00.0000000    0.14
1222668  MAC005492  2014-02-27 23:30:00.0000000   0.192
1222669  MAC005492  2014-02-28 00:00:00.0000000   0.088

[1222670 rows x 3 columns]

In [22]:
block_0 = block_0[block_0.KWh != 'Null']
block_0['KWh'] = block_0['KWh'].astype(float)

/Library/Python/3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
DateTime = block_0.iloc[:, 1].values
Year = np.zeros(len(DateTime), dtype=int)
Month = np.zeros(len(DateTime), dtype=int)
Day = np.zeros(len(DateTime), dtype=int)
Hour = np.zeros(len(DateTime), dtype=float)
for i in range(0,len(DateTime)):
    Year[i] = (DateTime[i][0:4])
    Month[i] = (DateTime[i][5:7])
    Day[i] = (DateTime[i][8:10])
    if DateTime[i][14:16]=='00':
        Hour[i] = DateTime[i][11:13]
    else: 
        Hour[i] = DateTime[i][11:13]
        Hour[i] += 0.5
        
block_0.loc[:,'Day']=Day
block_0.loc[:,'Month']=Month
block_0.loc[:,'Year']=Year
block_0.loc[:,'Hour']=Hour
block_0 = block_0.drop('DateTime',1)

/Library/Python/3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Python/3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [24]:
#LCLids where a miss catagorisation has occured i.e. when Acorn == ACORN- in this insatnce
LCLids_del = house_info.loc[house_info.Acorn == 'ACORN-'].LCLid.values
LCLids_del

array(['MAC005492', 'MAC001074'], dtype=object)

In [25]:
#Delete these houses from the current block being analysed
for i in range (0,len(LCLids_del)): 
    if any(block_0.LCLid == LCLids_del[i]):
        block_0 = block_0.loc [block_0.LCLid != LCLids_del[i]]
        print(i)

0
1

In [26]:
block_0_info = pd.merge(block_0,house_info)
block_0_info = block_0_info.drop('Acorn_grouped',1)
block_0_info = block_0_info.drop('file',1)
block_0_info.Acorn = block_0_info.Acorn.str.replace('ACORN-',"")

In [27]:
test_1 = block_0_info.groupby(['Acorn','Year','Month']).mean().drop(['Day','Hour'],1).reset_index()
Years = test_1.Year.unique()
Months = test_1.Month.unique()
for yr in Years: print(yr,':\n',(test_1.loc[test_1.Year == yr]).count())

2011 :
 Acorn    1
Year     1
Month    1
KWh      1
dtype: int64
2012 :
 Acorn    12
Year     12
Month    12
KWh      12
dtype: int64
2013 :
 Acorn    12
Year     12
Month    12
KWh      12
dtype: int64
2014 :
 Acorn    2
Year     2
Month    2
KWh      2
dtype: int64

In [28]:
#keep 2012 and 2013, reset index with drop=False
block_0_info_2012_2013 = block_0_info.loc[(block_0_info.Year == 2012) | (block_0_info.Year == 2013)].reset_index(drop=False)

In [29]:
import datetime


DayOfWeek = []
DayOfYear = []
for i in range(0,len(block_0_info_2012_2013)):
    DayOfWeek.append(datetime.datetime(block_0_info_2012_2013.Year[i], 
                                       block_0_info_2012_2013.Month[i], 
                                       block_0_info_2012_2013.Day[i]).weekday())
    DayOfYear.append(datetime.date(block_0_info_2012_2013.Year[i], 
                                       block_0_info_2012_2013.Month[i], 
                                       block_0_info_2012_2013.Day[i]).timetuple()[7])
#put in new column
block_0_info_2012_2013['DayOfWeek'] = DayOfWeek
block_0_info_2012_2013['DayOfYear'] = DayOfYear

#create weekend flag, days 5 and 6 are Sat and Sun
block_0_info_2012_2013['Weekend'] = ""
tmp = block_0_info_2012_2013[(block_0_info_2012_2013.DayOfWeek == 5) | (block_0_info_2012_2013.DayOfWeek == 6)].index
block_0_info_2012_2013['Weekend'][tmp] = 1
tmp = block_0_info_2012_2013[block_0_info_2012_2013.Weekend != 1] .index
block_0_info_2012_2013['Weekend'][tmp] = 0

/Library/Python/3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Python/3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
block_0_info_2012_2013['AcornDescription'] = ""
AcornName = pd.DataFrame({'Acorn':['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','U'],
                           'AcornName':['Lavish Lifestyles','Executive Wealth','Mature Money',
                                        'City Sophisticates','Career Climbers','Countryside Communities',
                                        'Successful Suburbs','Steady Neighbourhoods','Comfortable Seniors',
                                        'Starting Out','Student Life','Modest Means','Striving Families',
                                        'Poorer Pensioners','Young Hardship','Struggling Estates',
                                        ' Difficult Circumstances','Unknown']})
AcornDesc = pd.read_csv('dataset/smart-meters-in-london/Acorn Descriptions v2.csv')
AcornDesc = pd.merge(AcornName,AcornDesc)
block_0_info_2012_2013_wkend_desc = pd.merge(block_0_info_2012_2013,AcornDesc)

In [31]:
%%HTML
<div class='tableauPlaceholder' id='viz1512990824106' style='position: relative'><noscript><a href='#'><img alt='Overview ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1&#47;Overview&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SmartMeters_1&#47;Overview' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1&#47;Overview&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1512990824106');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [32]:
%%HTML
<div class='tableauPlaceholder' id='viz1512991679641' style='position: relative'><noscript><a href='#'><img alt='Uncertainty ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1_2&#47;Uncertainty&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SmartMeters_1_2&#47;Uncertainty' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1_2&#47;Uncertainty&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1512991679641');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [33]:
%%HTML
<div class='tableauPlaceholder' id='viz1512991980407' style='position: relative'><noscript><a href='#'><img alt='TimeOfDay and DayOfYear ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1_3&#47;TimeOfDayandDayOfYear&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SmartMeters_1_3&#47;TimeOfDayandDayOfYear' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_1_3&#47;TimeOfDayandDayOfYear&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1512991980407');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [34]:
#import data, files from 0 to 111 blocks
MAX_FILES = 112
files = [('block_'+str(i)+'.csv') for i in range (0,MAX_FILES)]

block_Daily = pd.concat([pd.read_csv("dataset/smart-meters-in-london/daily_dataset/daily_dataset/" + f, dtype={'LCLid': np.str, 'day': np.str, 
                                                                          'energy_median': np.float64,
                                                                          'energy_mean': np.float64, 'energy_max': np.float64,
                                                                          'energy_count': np.float64, 'energy_std': np.float64,
                                                                          'energy_sum': np.float64,'energy_min': np.float64}) \
                         for f in files])

house_info = pd.read_csv('dataset/smart-meters-in-london/informations_households.csv')

In [35]:
print('Percentage of days when no. of energy readings was less than 47 is: ',
      round(100*len(block_Daily[block_Daily.energy_count < 47])/len(block_Daily),2)
     ,'%')

Percentage of days when no. of energy readings was less than 47 is:  0.57 %

In [36]:
LCLids_del = house_info.loc[house_info.Acorn == 'ACORN-'].LCLid.values
LCLids_del

array(['MAC005492', 'MAC001074'], dtype=object)

In [37]:
#Delete these houses from the current block being analysed
for i in range (0,len(LCLids_del)): 
    if any(block_Daily.LCLid == LCLids_del[i]):
        block_Daily = block_Daily.loc [block_Daily.LCLid != LCLids_del[i]]
        print(i)

0
1

In [38]:
block_Daily.drop(block_Daily.index[block_Daily.energy_count < 47], axis=0)

block_Daily_info = pd.merge(block_Daily,house_info)
block_Daily_info = block_Daily_info.drop(['Acorn_grouped','file'],1)
block_Daily_info.Acorn = block_Daily_info.Acorn.str.replace('ACORN-',"")
block_Daily_info.Acorn.unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'U'], dtype=object)

In [39]:
block_Daily_info.head()

,LCLid,day,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,stdorToU,Acorn
0,MAC000002,2012-10-12,0.1385,0.154304,0.886,46.0,0.196034,7.098,0.000,Std,A
1,MAC000002,2012-10-13,0.1800,0.230979,0.933,48.0,0.192329,11.087,0.076,Std,A
2,MAC000002,2012-10-14,0.1580,0.275479,1.085,48.0,0.274647,13.223,0.070,Std,A
3,MAC000002,2012-10-15,0.1310,0.213688,1.164,48.0,0.224483,10.257,0.070,Std,A
4,MAC000002,2012-10-16,0.1450,0.203521,0.991,48.0,0.184115,9.769,0.087,Std,A

In [40]:
%%HTML
<div class='tableauPlaceholder' id='viz1512991411868' style='position: relative'><noscript><a href='#'><img alt='Std or ToU ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_2&#47;StdorToU&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SmartMeters_2&#47;StdorToU' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_2&#47;StdorToU&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1512991411868');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

In [41]:
%%HTML
<div class='tableauPlaceholder' id='viz1512991498592' style='position: relative'><noscript><a href='#'><img alt='Clustering DayData ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_2_2&#47;ClusteringDayData&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='SmartMeters_2_2&#47;ClusteringDayData' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sm&#47;SmartMeters_2_2&#47;ClusteringDayData&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1512991498592');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>